body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background-image: url("./images/32FD377D-7742-435D-A464-FA27D5BE1B7B.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        background-color: rgb(255, 227, 227);
        background-blend-mode: lighten;
        text-align: center;
        font-family: 'Sour Gummy', sans-serif;
    }

    #title {
        opacity: 0.7;
        margin-top: 100px;
        line-height: 10px;
    }

    #subtitle {
       opacity: 0.7;
       font-size: 18px;
       margin-bottom: 20px;
    }

    #calendarContainer {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 0 15px;
    }

    #calendarDiv {
      background-color: white;
      border-radius: 15px;
      width: 100%;
      max-width: 420px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
      overflow: hidden;

    }

    #calendarHeading {
        display: flex;
        justify-content: space-between;
        border-radius: 10px 10px 0px 0px;
        border: 2px solid black;
        padding: 0px 20px;
        background-color: pink;
    }
    
    #calendarContent {
        padding: 20px;
        border: 2px solid black;
    }
    
    .days{
        display: flex;
    }



    .day {
        width: 30px;
        margin: 3px;
        padding: 10px;
        font-size: 15px;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.2s ease;
       /* background-color: pink;*/
       /*border: 2px solid black;*/
}
       

    #resetButton {
        background-color: pink;
        border: 2px solid black;
        border-radius: 20px;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        font-family: 'Sour Gummy', sans-serif;
    }

    #backButton, 
    #nextButton {
        background-color: pink;
        border: 2px solid black;
        border-radius: 20px;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
         font-family: 'Sour Gummy', sans-serif;
    }

